
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title BangDiemMonHoc
    link(rel='stylesheet' href='./main.css')
    script(src="/public/BangDiemMonHoc/script.js")
  body
    form(name='form' id='formElem')
      h1 NGỮ VĂN
      input(type='submit' value='Submit')
      table.table
        caption#caption
          | Lớp10A1
        thead
          tr
            th STT
            th Tên học sinh
            th(scope='col' colspan='4') Điểm 15'
            th(scope='col' colspan='4') Điểm 1 tiết
            th Điểm GK
            th Điểm CK
            th Điểm TB
        tbody
          tr
            td(align='center')
              input#username(style='width: 20px' type='text' name='STT')
              br
            td
              input#username(style='width: 100px' type='text' name='HoVaTen')
              br
            td(align='center' title='trọng số 10%')
              input#username(style='width: 20px' type='text' name="15'")
              br
            td(align='center' title='trọng số 10%')
              input#username(style='width: 20px' type='text' name="15'")
              br
            td(align='center' title='trọng số 10%')
              input#username(style='width: 20px' type='text' name="15'")
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='1 tiết')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='1 tiết')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='1 tiết')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='1 tiết')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='1 tiết')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='Điểm GK')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='Điểm CK')
              br
            td
              input#username(style='width: 20px' type='text' name='DTB')
              br
            //
              <form action="/action_page.php">
              <label for="username">Username: </label>
              <input type="text" id="username" name="username"><br>
              <input type="submit" value="Submit">
              </form>
          tr
            td(align='center')
              input#username(style='width: 20px' type='text' name='STT')
              br
            td
              input#username(style='width: 100px' type='text' name='HoVaTen')
              br
            td(align='center' title='trọng số 10%')
              input#username(style='width: 20px' type='text' name="15'")
              br
            td(align='center' title='trọng số 10%')
              input#username(style='width: 20px' type='text' name="15'")
              br
            td(align='center' title='trọng số 10%')
              input#username(style='width: 20px' type='text' name="15'")
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='1 tiết')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='1 tiết')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='1 tiết')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='1 tiết')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='1 tiết')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='Điểm GK')
              br
            td(align='center' title='trọng số 20%')
              input#username(style='width: 20px' type='text' name='Điểm CK')
              br
            td
              input#username(style='width: 20px' type='text' name='DTB')
              br
            //
              <form action="/action_page.php">
              <label for="username">Username: </label>
              <input type="text" id="username" name="username"><br>
              <input type="submit" value="Submit">
              </form>
button(onclick="submit()")
