doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title CoCoEdu
    link(href='css/bootstrap.min.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.35.1/handsontable.min.css' rel='stylesheet')
    link(rel='stylesheet' href='/public/source/css/style.css')
    link(rel='stylesheet' href='/public/source/css/NhapDiem.css')
    link(rel='icon' type='image/x-icon' href='/public/source/img/favicon.png')
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src="/public/source/js/script.js")
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.35.1/handsontable.min.js')
    script(src='https://kit.fontawesome.com/7b85820244.js' crossorigin='anonymous')
  body
    - var role = role
    - var role_encode;
      if (role == 'Admin')
        - role_encode = "Administator"
      if (role == 'GiaoVien')
        - role_encode = "Giáo Viên"
      if (role == "HocSinh")
        - role_encode = "Học Sinh"

    .header
      .actions_user_hd
        #profile.profile_hd(onclick='menuhdToggle()')
          img(src='/public/source/img/user_none1.png' alt='image user')
        .menu_user_hd
          .profile_name #{user.HoTen}
            br
            span #{role_encode}
          ul
            li
              a(href='/user/profile/') Hồ Sơ
            li
              a(onclick="DangXuat()") Đăng Xuất
      form.search-bar
        input.searchTerm(type='text' placeholder='Tìm kiếm tại đây')
        button.searchButton(type='submit')
          i.fa-solid.fa-magnifying-glass
    // Tên app,logo app+
    // 
    // Mới sửa
    .sidebar
      .logo-details
        img(src='/public/source/img/preskool.png' alt='logo')
        a(href='/user/profile/')
          span.logo_name CoCoEdu
      // Mới sửa
      .nav_links
        .sidenav
          // Bảng điều khiển
          div
            button.dropdown-btn
              i#icon_sn.fa-solid.fa-border-all
              span.link_name Bảng điều khiển
              i#drop.fas.fa-angle-right
            .dropdown-container
              a.link_name(href='#') Bảng điều khiển
              if (role == 'Admin')
                .nbar-sub
                  a(href='/admin/Dashboard/') Administrator
              if (role == 'GiaoVien')
                .nbar-sub
                  a(href='/user/DashboardGiaoVien/') Giáo Viên
              if (role == 'HocSinh')
                .nbar-sub
                  a(href='/user/DashboardHocSinh/') Học Sinh
          // SInh viên
          if(role == 'Admin' || role == 'HocSinh')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-graduation-cap
                span.link_name Học Sinh
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Học Sinh
                  if (role == "HocSinh")
                    .nbar-sub
                      a(href='/user/DanhSachHocSinh') Danh Sách Học Sinh
                  if (role == "Admin")
                    .nbar-sub
                      a(href='/admin/DanhSachHocSinh') Danh Sách Học Sinh
                  if (role == "Admin")
                    .nbar-sub
                      a(href='/admin/ThemHocSinh') Thêm Học Sinh
          if(role == 'Admin' || role == 'GiaoVien')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-book-open
                span.link_name Lớp
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Lớp
                
                if(role == 'GiaoVien')
                  .nbar-sub
                    a(href='/user/DanhSachLopHoc') Danh Sách Lớp
                if( role == 'Admin')
                  .nbar-sub
                    a(href='/admin/DanhSachLopHoc') Danh Sách Lớp
                  .nbar-sub
                    a(href='/admin/ThemLopHoc') Thêm Lớp
          // Giáo Viên
          if(role == 'Admin' || role == 'GiaoVien')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-chalkboard-user
                span.link_name Giáo Viên
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Giáo Viên
                if (role =="GiaoVien")
                  .nbar-sub
                    a(href='/user/DanhSachGiaoVien') Danh Sách Giáo Viên
                if (role == "Admin")
                  .nbar-sub
                    a(href='/admin/DanhSachGiaoVien') Danh Sách Giáo Viên
                  .nbar-sub
                    a(href='/admin/ThemGiaoVien') Thêm Giáo Viên
            // Bảng điểm
            
            if( role == "GiaoVien")
              div
                button.dropdown-btn
                  i#icon_sn.fa-regular.fa-calendar
                  span.link_name Bảng điểm
                  i#drop.fas.fa-angle-right
                .dropdown-container
                  a.link_name(href='#') Bảng điểm
                  .nbar-sub
                    a(href='#') Xem bảng điểm
                    // Mới sửa
                  .nbar-sub
                    a(href='/user/NhapDiem/TN101/') Nhập bảng điểm
                  // Mới sửa
                // Mới sửa
            
          div
            button.dropdown-btn
              i#icon_sn.fa-solid.fa-pen
              span.link_name Thông báo
              i#drop.fas.fa-angle-right
            .dropdown-container
              a.link_name(href='#') Thông báo
              .nbar-sub
                a(href='/user/XemThongBao') Xem Thông báo
              
              if (role == "Admin")
                .nbar-sub
                  a(href='/admin/DanhSachBaiDang') Danh Sách Thông báo
                .nbar-sub
                  a(href='/admin/ThemBaiDang') Tạo Thông báo
        // Mới sửa
    section.home-section
      .home-content
        i.fa-solid.fa-bars
    .page-wrapper
      main.container(role='main')
        div
          h1 Điểm
        .Bd-content
          span
            strong Học kỳ: 
            select#HocKy(onchange='LayThongTin()')
              option(value='') Chọn học kỳ
              option(value='1') Học kỳ 1
              option(value='2') Học kỳ 2
          span
            strong Năm học: 
            select#NamHoc(onchange='LayThongTin()')
              option(value='') Chọn năm học
          span
            strong Môn học: 
            select#MonHoc(onchange='LayThongTin()')
              option(value='') Chọn môn học
          //- div
          //-   button#GetData(onclick='LayThongTin()') Lấy thông tin
          .container.welcome-div
            #employee

          //- Hide button in style 
          button#btnSave(hidden onclick="LuuDiem()") Lưu điểm

    script(src='/public/source/js/main.js')
   
    // button onclick
    script.
      async function LuuDiem () {
        document.getElementById("btnSave").disabled = true;
        document.getElementById("btnSave").innerHTML = "Đang lưu điểm";
        document.getElementById("btnSave").style.opacity = "0.5";

        let ThongTinDiem = {
          HocKy: document.getElementById("HocKy").value,
          NamHoc: document.getElementById("NamHoc").value,
          MaMH: document.getElementById("MonHoc").value,
          Diem: data
        }
        console.log("Save")

        console.log(data);
        
        let url = window.location.href;
        let response = await fetch(url, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(ThongTinDiem),
          json: true
        })

        let result = await response.json();
        console.log(result)
        alert(result.message)
        document.getElementById("btnSave").disabled = false;
        document.getElementById("btnSave").innerHTML = "Lưu điểm";
        document.getElementById("btnSave").style.opacity = "1";
      }

    script.
      async function LayThongTin() {
        //Disable button
        //- document.getElementById("GetData").disabled = true;
        //- document.getElementById("GetData").innerHTML = "Đang tải...";

        data = {
          HocKy: document.getElementById("HocKy").value,
          NamHoc: document.getElementById("NamHoc").value,
          MaMH: document.getElementById("MonHoc").value
        }
        
        let url = window.location.href;

        let response = await fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
          json: true
        })

        let result = await response.json();

        console.log(result)

        //Enable button
        //- document.getElementById("GetData").disabled = false;
        //- document.getElementById("GetData").innerHTML = "Lấy thông tin";

        if(data.NamHoc == null || data.NamHoc == "") {
          let SelectNamHoc = document.getElementById("NamHoc");
          for (let i = 0; i < result.result.length; i++) {
            let option = document.createElement("option");
            option.text = `${result.result[i].Nam1} - ${result.result[i].Nam2}` ;
            option.value = result.result[i].Nam2;
            SelectNamHoc.add(option);
          }
          return false;
        }

        if(data.MaMH == null || data.MaMH == "") {
          let SelectMonHoc = document.getElementById("MonHoc");
          for (let i = 0; i < result.result.length; i++) {
            let option = document.createElement("option");
            option.text = result.result[i].TenMH;
            option.value = result.result[i].MaMH;
            SelectMonHoc.add(option);
          }
          return false;
        }

        let button = document.getElementById("btnSave");
        button.hidden = false;

        console.log(result.result)
        data = []

        for(let i = 0; i < result.result.length; i++) {
          data.push({
            "MSHS": result.result[i].MaHS, 
            "HoTen": result.result[i].HoTen, 
            "DM": result.result[i].DM, 
            "KT15P": result.result[i].KT15P, 
            "KT1T": result.result[i].KT1T, 
            "KTGK": result.result[i].KTGK, 
            "KTCK": result.result[i].KTCK,
          })
        }

        console.log(data)
        var container = document.getElementById('employee');
        var hot = new Handsontable(container, {
          data: data,
          rowHeaders: true,
          colHeaders: false,
          colHeaders: ["MSHS", "Họ và tên", "Điểm miệng", "Điểm 15 phút", "Điểm 1 tiết", "Điểm GK", "Điểm CK"],
          columnSorting: true,
          sortIndicator: true
        });
      }
    