doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Utopian-io | How to create a Spreadsheet component using HTML and JavaScript
    link(href='css/bootstrap.min.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.35.1/handsontable.min.css' rel='stylesheet')
  body
    main.container(role='main')
      h1 Employee Database
      p.lead Managing employee database using Spreadsheet
      select#HocKy(onchange='LayThongTin()')
        option(value='1') Học kỳ 1
        option(value='2') Học kỳ 2
      select#NamHoc
        //- option(value='2022') 2021-2022
      button#GetData(onclick='LayThongTin()') Lấy thông tin
      .container.welcome-div
        #employee
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.35.1/handsontable.min.js')
    button#btnSave(onclick="LuuDiem()") Save

      
    // button onclick
    script.
      async function LuuDiem () {
        console.log("Save")

        console.log(data);
        
        let url = window.location.href;
        let response = await fetch(url, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
          json: true
        })

        let result = await response.json();
        console.log(result)
      }

    script.
      async function LayThongTin() {
        //Disable button
        //- document.getElementById("GetData").disabled = true;
        //- document.getElementById("GetData").innerHTML = "Đang tải...";

        data = {
          HocKy: document.getElementById("HocKy").value,
          NamHoc: document.getElementById("NamHoc").value,
        }
        
        let url = window.location.href;

        let response = await fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
          json: true
        })

        let result = await response.json();

        console.log(result)

        //Enable button
        //- document.getElementById("GetData").disabled = false;
        //- document.getElementById("GetData").innerHTML = "Lấy thông tin";

        if(data.NamHoc == null || data.NamHoc == "") {
          let SelectNamHoc = document.getElementById("NamHoc");
          for (let i = 0; i < result.result.length; i++) {
            let option = document.createElement("option");
            option.text = `${result.result[i].Nam1} - ${result.result[i].Nam2}` ;
            option.value = result.result[i].Nam2;
            SelectNamHoc.add(option);
          }
          return false;
        }

        console.log(result.result)
        data = []

        for(let i = 0; i < result.result.length; i++) {
          data.push({
            "MSHS": result.result[i].MaHS, 
            "HoTen": result.result[i].HoTen, 
            "DM": result.result[i].DM, 
            "KT15P": result.result[i].KT15P, 
            "KT1T": result.result[i].KT1T, 
            "KTGK": result.result[i].KTGK, 
            "KTCK": result.result[i].KTCK
          })
        }

        console.log(data)
        var container = document.getElementById('employee');
        var hot = new Handsontable(container, {
          data: data,
          rowHeaders: true,
          colHeaders: false,
          colHeaders: ["MSHS", "Họ và tên", "Điểm miệng", "Điểm 15 phút", "Điểm 1 tiết", "Điểm GK", "Điểm CK"],
          columnSorting: true,
          sortIndicator: true
        });
      }
    