section(style="padding:40px 0; background:#fff; font-family: 'Arvo', serif;")
  .container
    .row(style="text-align: center")
      .col-sm-12 
        .col-sm-10.col-sm-offset-1.text-center
          div(style='background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);\
          height: 400px;\
          width: 100%;\
          background-position: center;')
            h1(style="font-size: 50px") 404 - #{message}
            //h3.h2(style="font-size: 60px") #{message}
          .contant_box_404
            a(href=redirect style='color: #fff!important;\
            padding: 10px 20px;\
            background: #39ac31;\
            margin: 20px 0;\
            display: inline-block;') #{href}
