doctype html
html(style='font-size: 16px;' lang='en')
  head
  body 
    h3 Trung tâm thông báo 

    each NoiDung in DanhSachThongBao 
      h4 #{NoiDung.TieuDe}
      h5 #{NoiDung.NgayDang}
      #{NoiDung.NoiDung}/
      hr
