nav{
    background: #5cb85c;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: right;
  
  }
  
  ul li {
    display: inline-block;
    cursor: pointer;
     padding: 6px;
  }
  
  ul li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 16px;
  }
  
  ul li:hover {
    background: #70ad47;
  
  }
  
  ul li i {
    color: #fff;
    float: right;
    padding-left: 10px;
    padding-top: 0px;
  }
  nav div{
     display: none;
  }
  @media(max-width: 768px) {
    nav div {
      display: block;
      text-align: right;
      padding: 10px 15px;
      color: #fff;
    font-size: 24px;
    cursor: pointer;
   
    }
    nav div .fa{
      font-size: 40px;
    }
    ul {
      display: none;
      background: #38ada9;
    }
    ul li{
      width: 100%;
      text-align: center;
      padding: 0px;
    }
    .drop .fa-sort-desc {
      display: none;
    }
  }