doctype html
html(lang="en")
  head
    title Cường Phúc tới chơi và tạo tài khoản
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/public/source/style.css')
  body
    #main
        form(action="#" method="post" id="formElem")
            div.label Cường Phúc tới chơi và tạo tài khoản
            div.username
                input(type="text" placeholder="Username" name="username")
            div.role
                input(type="text" placeholder="Nhập role" name="role")
            //- div.newpassword
            //-     input(type="password" placeholder="Mật khẩu mới" name="newpassword")
            //- div.confirmNewPassword
            //-     input(type="password" placeholder="Nhập lại mật khẩu mới" name="confirmNewPassword")

            button(type="button" onclick="ThemTaiKhoan()") Tạo Tài Khoản

    script(src="/public/source/js/script.js")