doctype html
html(lang="en")
  head
    title Hệ thống thi thử truy vấn SQL
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/public/source/style.css')
  body
    #main
        form(action="#" method="post" id="formElem")
            div.label Hệ thống thi thử truy vấn SQL
            div.username
                input(type="text" placeholder="Username" name="username")
            div.password
                input(type="password" placeholder="Mật khẩu cũ" name="password")
            div.newpassword
                input(type="password" placeholder="Mật khẩu mới" name="newpassword")
            div.confirmNewPassword
                input(type="password" placeholder="Nhập lại mật khẩu mới" name="confirmNewPassword")

            button(type="button" onclick="changePassword()") Đổi mật khẩu

    script(src="/public/source/js/script.js")