doctype html
html
  head
    title CocoSchooler
    link(rel='stylesheet' type='text/css' href='/public/source/css/Login.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:600&display=swap' rel='stylesheet')
    link(rel='icon' type='image/x-icon' href='/public/source/img/favicon.png')
    script(src='https://kit.fontawesome.com/a81368914c.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body#body-wrapper
    img.wave(src='/public/source/img/wave.png ')
    .container
      .img
        img(src='/public/source/img/bg.svg ')
      .login-content
        form#formElem
          img(src='/public/source/img/avatar.svg ')
          br
          h3.title Xin chào - Quên Mật Khẩu
          br
          #encoded(style='color: red; font-weight: bold; text-align: center')
          br
          .input-div.one
            .i
              i.fas.fa-user
            .div
              h5 Mã người dùng
              input.input(type='text' name='username')
          a(href='/auth/login') Đăng nhập
          input.btn#btnReset(value='Đặt lại mật khẩu' type='button' onclick='ResetPassword();return false;')
    script(type='text/javascript' src='/public/source/js/script.js ')
    script(type='text/javascript' src='/public/source/js/login.js ')
