doctype html
html(lang="en")
  head
    title Hệ thống thi thử truy vấn SQL
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/public/source/style.css')
  body
    #main
        form(action="#" method="post" id="formElem")
            div.label Thay Đổi Thông Tin
            div.HoTen
                input(type="text" placeholder="Họ và Tên" name="hoten")
            div.NgSinh
                input(type="datetime" placeholder="Ngày Sinh" name="ngsinh")
            div.GioiTinh
                input(type="text" placeholder="Giới Tính" name="gioitinh")
            div.DiaChi
                input(type="text" placeholder="Địa Chỉ" name="diachi")
            div.Email
                input(type="text" placeholder="Email" name="email")

            button(type="button" onclick="ThayDoiTT()") Thay Đổi

    script(src="/public/source/js/script.js")