:root {
  --primary-color: #3d5ee1;
  --foreign-color: #18aefa;
  --same-white: #f7f7fa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4;
}
body {
  background-color: #f7f7fa;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}
.mb-5 {
  padding: 25px;
  background-color: white;
  margin-top: 30px;
  border-radius: 8px;
  height: max-content;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.mb-5 label {
  font-size: 15px;
  margin: 10px 0;
}
.page-wrapper {
  padding-top: 60px;
  margin-left: 259px;
  background-color: #f7f7fa;
}
.page-wrapper.margin {
  margin-left: 78px;
}
.content-new {
  padding: 30px;
}

.header-input h3 {
  font-size: 22px;
  margin-bottom: 50px;
  font-weight: 600;
  margin-top: 0px;
  text-align: center;
}

.btn.btn-primary {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 30px;
  background-color: var(--primary-color);
  height: 45px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: white;
}
.btn.btn-primary:hover {
  background-color: var(--foreign-color);
  border: 1px solid var(--foreign-color);
}
.note-editor.note-airframe,
.note-editor.note-frame {
  border-radius: 4px;
}
.form-control:focus {
  border-color: #18aefa;
  box-shadow: none;
}
