:root {
  --primary-color: #3d5ee1;
  --foreign-color: #18aefa;
  --same-white: #f7f7fa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4;
}
body {
  background-color: #f7f7fa;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}
.page-wrapper {
  padding-top: 60px;
  margin-left: 259px;
}
.page-wrapper.margin {
  margin-left: 78px;
}
.content {
  padding: 30px;
}
.page-title {
  font-size: 22px;
  margin-bottom: 50px;
  font-weight: 600;
}
.search-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-control-edit {
  border: 1px solid #ddd;
  box-shadow: none;
  font-size: 15px;
  height: 45px;
  padding: 6px 12px;
  border-radius: 4px;
  width: 100%;
  background-color: var(--same-white);
}
.form-control-not-width {
  border: 1px solid #ddd;
  box-shadow: none;
  font-size: 15px;
  height: 40px;
  padding: 6px 12px;
  border-radius: 4px;
}
.form-control-edit:focus {
  border-color: var(--primary-color);
  box-shadow: none;
  outline: 0 none;
  background-color: white;
}
.search-teacher-btn {
  padding: 0px 0px 0px 12px;
}
.search-btn .btn {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 30px;
  background-color: var(--primary-color);
  height: 45px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: white;
}
.search-btn.btn {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 30px;
  background-color: var(--primary-color);
  height: 45px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: white;
}
.search-btn .btn:hover {
  cursor: pointer;
  background-color: var(--foreign-color);
  border: 1px solid var(--foreign-color);
}
.search-btn.btn:hover {
  cursor: pointer;
  background-color: var(--foreign-color);
  border: 1px solid var(--foreign-color);
}
/* teacher-form */
.teacher-form {
  background-color: white;
  margin-top: 30px;
  border-radius: 8px;
  height: max-content;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.edit-form-teacher {
  width: 50%;
}
.edit-form {
  /* width: 50%; */
}
.card-table {
  display: flex;
  flex-direction: column;
}
.card-body {
  padding: 25px;
  position: relative;
}
.card-body_head {
  margin-bottom: 30px;
  display: flex;
}
.card-body_header {
  display: flex;
}
.card-body_header-icon i {
  color: white;
  background-color: var(--primary-color);
  padding: 10px 10px;
  font-size: 30px;
  border-radius: 4px;
  position: absolute;
  top: 17px;
  right: 25px;
}
.card-body_header-icon i:hover {
  background-color: var(--foreign-color);
  cursor: pointer;
}
/* Edit form */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.submit-form {
  margin: 10px 20px;
}
.submit-form:first-child {
  margin-top: 0;
}

.submit-form label {
  font-weight: 600;
  font-size: 15px;
}
.submit-form span {
  color: red;
}
.submit-form input {
  font-family: "Roboto", sans-serif;
}
.teacher-image .form-group {
  margin-top: 10px;
  font-weight: 600;
  margin-left: 20px;
}
.teacher-image .upload {
  margin-top: 20px;
}
.teacher-image input[type="file"] {
  margin-left: 50px;
  font-size: 15px;
  padding: 10px;
}
.teacher-image-submit .image-submit {
  margin-top: 20px;
  margin-left: 20px;
}
.teacher-image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.teacher-image .login-danger {
  color: red;
  font-size: 15px;
  font-weight: 600;
}
.teacher-image label:first-child {
  font-weight: 600;
  font-size: 15px;
  margin-left: 20px;
}
.teacher-image .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload label {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 30px;
  background-color: var(--primary-color);
  height: 45px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: white;
}
.upload label:hover {
  cursor: pointer;
  background-color: var(--foreign-color);
  border: 1px solid var(--foreign-color);
}
