:root {
  --primary-color: #3d5ee1;
  --foreign-color: #18aefa;
  --same-white: #f7f7fa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0;
}

body {
  background-color: #f7f7fa;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}
.page-wrapper {
  padding-top: 60px;
  margin-left: 259px;
}
.page-wrapper.margin {
  margin-left: 78px;
}
.content {
  padding: 30px;
}
.page-title {
  font-size: 22px;
  margin-bottom: 50px;
  font-weight: 600;
  width: 300px;
}
.search-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-group {
}
.form-control {
  border: 1px solid #ddd;
  box-shadow: none;
  font-size: 15px;
  height: 45px;
  padding: 6px 12px;
  border-radius: 4px;
}
.form-control-not-width {
  border: 1px solid #ddd;
  box-shadow: none;
  font-size: 15px;
  height: 40px;
  padding: 6px 12px;
  border-radius: 4px;
}
.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: none;
  outline: 0 none;
}
.search-student-btn {
  /* padding: 0px 0px 0px 12px; */
}
.search-btn .btn {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 30px;
  background-color: var(--primary-color);
  height: 45px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: white;
}
.btn {
}
.search-btn .btn:hover {
  cursor: pointer;
  background-color: var(--foreign-color);
  border: 1px solid var(--foreign-color);
}

/* Student-form */
.student-form {
  background-color: white;
  margin-top: 30px;
  border-radius: 8px;
  height: max-content;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.page-header-student-title h5 {
  text-align: center;
}
.page-header-student-title h5 {
  margin-top: 30px;
}

.card-table {
  display: flex;
  flex-direction: column;
}
.card-body {
  padding: 25px;
  position: relative;
  height: max-content;
}
.card-body_head {
  margin-bottom: 30px;
  display: flex;
  width: 100px;
}
.card-body_header {
  display: flex;
}
.card-body_header-icon i {
  color: white;
  background-color: var(--primary-color);
  padding: 10px 10px;
  font-size: 30px;
  border-radius: 4px;
  position: absolute;
  top: 17px;
  right: 25px;
}

.card-body_header-icon i:hover {
  background-color: var(--foreign-color);
  cursor: pointer;
}
.submit-form-student.submit {
  margin: 0 0;
}
.submit label {
  font-weight: 400;
}
.submit-form-student {
  margin: 0px 20px;
}
.form-control-edit-btn {
  width: 140px;
  border: 1px solid #ddd;
  box-shadow: none;
  font-size: 15px;
  height: 45px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: white;
}
.form-control-edit-btn:focus {
  border: 1px solid var(--primary-color);
}
.search-bar .form-control {
  width: 100%;
}
.search-bar {
  width: 85%;
}
/* Modal */
.modal.open {
  display: flex;
}
.modal-close {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--primary-color);
  padding: 12px;
  font-size: 15px;
  margin-bottom: 20px;
  background-color: white;
}
.modal-close:hover {
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  cursor: pointer;
}
.card-body-edit {
  padding: 25px;
  position: relative;
  height: 80vh;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* border-radius: 10px; */
  overflow: auto;
}
.student-form-edit {
  background-color: white;
  height: max-content;
  width: max-content;
  overflow-y: initial !important;
  position: relative;
  /* border-radius: 10px; */
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 5px 10px rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  display: none;
}
/* Table */

.Table {
  border-collapse: collapse;
}
.Table .sorting {
  padding: 16px 30px 16px 12px;
  min-width: 200px;
}
.Table .sorting:first-child {
  padding: 16px 30px 16px 12px;
  width: 1000px;
}
.card-body_body {
  overflow-x: auto;
}
.Table th {
  color: #000;
  background-color: #f8f9fa;
  white-space: nowrap;
  text-align: left;
  border-bottom: 1px solid #eff2f7;
  position: sticky;
}
.Table .address {
  min-width: 400px;
}
.text-end:last-child {
  text-align: center;
}
.student-tbody td {
  padding: 16px 12px;
}
.Table .even {
  background-color: #f8f9fa;
}
.student-tbody a {
  color: #000;
  text-decoration: none;
}

.text-end .delete-btn,
.text-end .edit-btn {
  padding: 10px;

  background-color: var(--primary-color);
  border-radius: 8px;
}
.text-end .action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.text-end i {
  color: white;
}
.content .page-header {
  border: none;
  margin: 0;
}
